<div class="container-fluid">
  <h4 class="title">{{ title }}</h4>
  <form id="alunoForm" [formGroup]="alunoForm" (ngSubmit)="submit()">
  <input type="number" formControlName="id" hidden>
  <div class="row">
    <div class ="col">
      <fieldset>
        <legend>{{'aluno.title.general_information' | translate}}</legend>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field class="input-full-width">
              <input required matInput #nome formControlName="nome"
              placeholder="{{ 'aluno.label.name' | translate }}"
              matTooltip = "{{'aluno.label.message.name' | translate}}" matTooltipPosition="above"
              tabindex="1" [readonly]="disabledField">
              <mat-error *ngIf="f['nome'].touched && f['nome'].errors" class ="invalid-feedback">
                <span *ngIf="f['nome'].errors?.['required']">{{ 'aluno.validate.name.required' | translate }} </span>
                <span *ngIf="f['nome'].errors?.['maxlength']">{{ 'professor.validate.name.maxlength' | translate }} </span>
              </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class = "col">
            <div class="form-group">
              <mat-form-field class="input-full-width">
              <input required matInput #nome formControlName="numeroMatricula"
              placeholder="{{ 'aluno.label.registration' | translate }}"
              matTooltip = "{{'aluno.label.message.registration' | translate}}" matTooltipPosition="above"
              tabindex="2" [readonly]="disabledField">
              <mat-error *ngIf="f['nome'].touched && f['nome'].errors" class ="invalid-feedback">
                <span *ngIf="f['nome'].errors?.['required']">{{ 'aluno.validate.registration.required' | translate }} </span>
                <span *ngIf="f['nome'].errors?.['maxlength']">{{ 'professor.validate.registration.maxlength' | translate }} </span>
              </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field class="input-full-width">
              <input required matInput #nome formControlName="codigoCurso"
              placeholder="{{ 'aluno.label.code' | translate }}"
              matTooltip = "{{'aluno.label.message.code' | translate}}" matTooltipPosition="above"
              tabindex="3" [readonly]="disabledField">
              <mat-error *ngIf="f['nome'].touched && f['nome'].errors" class ="invalid-feedback">
                <span *ngIf="f['nome'].errors?.['required']">{{ 'aluno.validate.code.required' | translate }} </span>
                <span *ngIf="f['nome'].errors?.['maxlength']">{{ 'aluno.validate.code.maxlength' | translate }} </span>
              </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </fieldset>

    </div>

  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <button type="button" mat-stroked-button color="primary" routerLink="{{ 'routes.aluno.list' | translate }}">
          <i class="material-icons"> reply_all </i> {{ 'button.back' | translate }}
        </button>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <button type="submit" mat-stroked-button color="primary" class="float-end"
          [disabled]="alunoForm.invalid">
          <i class="material-icons"> save </i> {{ 'button.save' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
</div>

<p-toast></p-toast>
